body {
  font-family: 'Roboto Mono', monospace;
  color: #4a4a4a;
  border-top: 24px solid #ef2229;
  padding-bottom: 1em;
}

h1 {
  margin: 3em 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
  text-align: center;
}

h1 .technologist-emoji {
  width:  58px;
  height: 58px;
  margin-bottom: -15px;
  display: inline-block;
  margin-right: 0.6em;

  background-image: url('images/technologist_emoji.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 strong {
  padding: 0.1em 0.3em;
  color: #ef2229;
  background-color: #ffd1cd;
}

a {
  color: #ef2229;
}

a:hover {
  color: #c90c10;
}

.button.button-primary,
.button.button-primary:visited {
  background-color: #ef2229;
  border-color: #ef2229;
  border-radius: 0;
}

.button.button-primary:hover {
  background-color: #c90c10;
  border-color: #c90c10;
}

.text-center {
  text-align: center;
}

/* ******** COMPONENTS ******** */

.banner {
  position: relative;
  margin-bottom: 30px /* Half the height of the .button-cta */
}

.banner .cta-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px; /* Half the height of the .button-cta */
  width: 100%;
  text-align: center;
}

.banner .button-cta {
  height: 60px;
  margin: 0;
  border: none;
  border-radius: 0;
  font-size: 1.2em;
  text-transform: none;
  color: white;
  background-color: #ef2229;
}

@media (min-width: 550px) {
  .banner .button-cta {
    padding-left: 5em;
    padding-right: 5em;
  }
}

#payment-error-message {
  color: #cc0000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

.payment-container {
  padding-top: 0.8em;
  text-align: center;
}

.payment-notice {
  margin-bottom: 0.3em;
}

/* ******** CODE FORMATING & SYNTAX COLORATION ******** */

pre {
  display: flex;
  background-color: #263238;
  padding: 0.1em 1em 1.3em 1em;
}

@media (min-width: 550px) {
  pre {
    padding: 1em 3em 1.5em 3em;
  }
}

pre > code {
  color: #f8ffff;
  overflow: auto;
  word-break: break-all;
  hyphens: none;

  background-color: transparent;
  border: none;
  padding: 0;
  scrollbar-width: none;
}

@media (min-width: 550px) {
  pre > code {
    font-size: 16px;
    line-height: 1.3em;
  }
}

code a, code a:hover {
  color: #cdf393;
  text-decoration: none;
}

span.code-class { color: #fcd06e; }
span.code-keyword { color: #c892eb; }
span.code-method { color:#81aafc; }
span.code-string { color: #cdf393; }

span.code-assignment,
span.code-delimiter,
span.code-heredoc,
span.code-instance-variable { color: #8ee6fd; }
