body {
  font-family: 'Roboto Mono', monospace;
  color: #4a4a4a;
  border-top: 25px solid #ef2229;
  padding-bottom: 1em;
}

h1 {
  margin: 3em 0;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

h1 .technologist-emoji {
  width:  40px;
  height: 40px;
  display: inline-block;
  padding-right: 0.3em;

  background-image: url('images/technologist_emoji.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 strong {
  padding: 0.1em 0.3em;
  color: #ef2229;
  background-color: #ffd1cd;
}

.banner {
  position: relative;
  margin-bottom: 30px /* Half the height of the .button-cta */
}

.banner .cta-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px; /* Half the height of the .button-cta */
  width: 100%;
  text-align: center;
}

.banner .button-cta {
  height: 60px;
  margin: 0;
  padding-top: 0.5em;
  padding-left: 5em;
  padding-right: 5em;
  border: none;
  border-radius: 0;
  font-size: 1.2em;
  text-transform: none;
  color: white;
  background-color: #ef2229;
}

.payment-notice {
  padding-top: 0.8em;
  text-align: center;
}

/* ******** CODE FORMATING & SYNTAX COLORATION ******** */

pre {
  display: flex;
  padding-left: 3em;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

pre, code {
  font-size: 16px;
  line-height: 1.3em;
  color: #f8ffff;
  background-color: #263238;
}

pre > code {
  border: none;
  padding: 0;
}

span.code-class { color: #fcd06e; }
span.code-keyword { color: #c892eb; }
span.code-method { color:#81aafc; }
span.code-string { color: #cdf393; }

span.code-assignment,
span.code-delimiter,
span.code-heredoc,
span.code-instance-variable { color: #8ee6fd; }
